In [7]:
import pandas as pd
import supporting_functions as sf

In [8]:
csv_name =  sf.create_sim_data(
            absolute_treatment_effect = 0.50, 
            num_orders                = 1000000, 
            num_retailers             = 100, 
            retailer_loc              = 100.0, 
            retailer_scale            = 25.0, 
            noise_loc                 = 0.0, 
            noise_scale               = 25.0    
            )

In [9]:
csv_name

'./data/sim_data_2019_12_21_155654.csv'

In [10]:
data = pd.read_csv(csv_name)
data.head()

   Order_ID  Initial_Order_Amount  Treated  Mean_Retailer_Amount
0       1.0             99.602812      1.0             105.03408
1       2.0            100.596704      1.0             105.03408
2     377.0             83.609874      1.0             105.03408
3     479.0            123.746820      1.0             105.03408
4     564.0            160.399740      1.0             105.03408

In [11]:
rec_n = sf.set_starting_value(data, 'Treated', ['Mean_Retailer_Amount'], 
                              'Initial_Order_Amount', 0.25, 0.05, 0.8)
rec_n

123474